{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Воспоминания</h1>

<div class="container">
    <div class="row">
        {% for m in memories %}
            <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card h-100 shadow-sm rounded-4">

                    {% if m.image %}
                        <img src="{{ m.image.url }}"
                             class="card-img-top"
                             style="height: 200px; object-fit: cover;">
                    {% else %}
                        <div class="d-flex align-items-center justify-content-center bg-light"
                             style="height: 200px;">
                            <span class="text-muted">Нет фото</span>
                        </div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ m.title }}</h5>

                        <p class="card-text">
                            {{ m.description|default:"Без описания" }}
                        </p>

                        <p class="text-muted small mb-1">
                            📍 {{ m.latitude }}, {{ m.longitude }}
                        </p>

                        <p class="text-muted small">
                            🕒 {{ m.created_at|date:"d.m.Y H:i" }}
                        </p>
                        <button
                            class="btn btn-outline-primary btn-sm mt-2"
                            data-bs-toggle="modal"
                            data-bs-target="#mapModal{{ m.id }}"
                        >
                            Открыть карту
                        </button>
                    </div>

                </div>
            </div>
        <div class="modal fade" id="mapModal{{ m.id }}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">{{ m.title }}</h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <div id="map{{ m.id }}"
                     style="height: 400px; border-radius: 12px;">
                </div>
            </div>

        </div>
    </div>
</div>

<script>
document.addEventListener('shown.bs.modal', function (event) {

    const modal = event.target;

    if (modal.id === 'mapModal{{ m.id }}') {

        if (!modal.mapInitialized) {

            const map = L.map('map{{ m.id }}').setView(
                [{{ m.latitude }}, {{ m.longitude }}],
                13
            );

            L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    attribution: '© OpenStreetMap'
                }
            ).addTo(map);

            L.marker([{{ m.latitude }}, {{ m.longitude }}])
                .addTo(map);

            modal.mapInitialized = true;

            setTimeout(() => {
                map.invalidateSize();
            }, 100);
        }
    }
});
</script>
        {% empty %}
        <div class="col-md-6 col-lg-4 mb-4 text-center">
                <div class="card h-100 shadow-sm rounded-4">
            <p>Пока нет воспоминаний</p>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
