{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-4 shadow-sm">
    <div class="container-fluid py-4">
        <h1 class="display-5 fw-bold">Добро пожаловать в MemoryMap</h1>
        <p class="col-md-8 fs-5">
            MemoryMap — это сервис для сохранения воспоминаний о посещённых местах.
            Вы можете добавлять места, сохранять координаты и оставлять свои комментарии.
        </p>
        <a href="{% url 'add_memory' %}" class="btn btn-primary btn-lg">
            Добавить воспоминание
        </a>
    </div>
</div>
{% for memory in memories %}
    <h3>{{ memory.title }}</h3>
    <p>{{ memory.description }}</p>

    {% if memory.image %}
        <img src="{{ memory.image.url }}" width="300">
    {% endif %}
{% endfor %}
{% endblock %}
